
/* Réinitialisation des marges et des paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


/* Style global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #C3E0E5;
    color: #333;
    line-height: 1.6;
}
.main-nav {
  background-color: #afd0bb;
  font-family: "Italiana";
  font-weight: bold;
  padding: 10px 0;
  position: fixed; 
    top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  margin-bottom: 50px;
}

.main-nav ul {
  display: flex;
  justify-content: center; /* Centrer les liens */
  list-style-type: none;
  gap: 20px;
}

.main-nav ul li {
  display: flex;
  align-items: center;
}

.main-nav a {
  text-decoration: none;
  color: #004d00; /* Texte vert */
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.main-nav a:hover {
  background-color: #ffcc80; /* Constraste marqué */
  color: #ffffff;
}

.main-nav a .material-icons {
  margin-right: 8px;
}

.nav_logo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.design {
  height: 200px;
}
.banner {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  background-color: #000;
}

.banner img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-text {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: #004d00;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .banner {
    height: 300px;
  }

  .banner-text {
    font-size: 1.5em; /* Taille plus petite sur mobile */
    margin-top: 10px;
  }
}
nav {
  width: 100%;
  margin: 0 auto;
  background-color: #fbe9e7;
  position: sticky;
  top: 60px;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav ul li {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

nav ul::after {
  content: "";
  display: table;
  clear: both;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover {
  color: #00796b;
  border-bottom: 2px solid #00796b;
}

.sous {
  display: none;
  box-shadow: 0px 1px 2px #fbe9e7;
  background-color: #fbe9e7;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

nav > ul li:hover .sous {
  display: block;
}

.sous li {
  width: 100%;
  text-align: left;
}

.sous a {
  padding: 10px;
  border-bottom: none;
}

.sous a:hover {
  border-bottom: none;
  background-color: #fbe9e7;
}

.deroulant > a::after {
  content: " ▼";
  font-size: 12px;
}


h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 2rem;
    color: #333;
}

/* Section équipe */
.team-section {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}

/* Conteneur des membres de l'équipe */
.team-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

/* Style des membres de l'équipe */
.team-member {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    width: 20%;
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: translateY(-10px);
}

/* Image des membres */
.team-member img {
    border-radius: 50%;
    width: 110px;
    height: 120px;
    margin-bottom: 20px;
    object-fit: cover;
}

/* Nom et titre */
.team-member h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #333;
}

.team-member p {
    color: #777;
    margin-bottom: 10px;
}

/* Liens sociaux */
.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
}

.social-links a:hover {
    color: #005bb5;
}

.team-member {
  position: relative;
  overflow: hidden;
}

/* Canvas recouvre toute la carte team-member */
canvas.grattage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  /* background-color: rgba(128, 128, 128, 0.9); /* Gris opaque */
  z-index: 10;
  cursor: crosshair;
}
.infos-temps {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
  font-size: 0.95em;
  font-weight: bold;
}

